.App{
  text-align: center;
}

div {
  box-sizing: border-box;
}
.black-nav{
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0 30px; 
  text-align: left;
  border-bottom: 1px solid grey;
}

.modal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
}

button,.btn-count,.title{
  cursor: pointer;
}

button:hover{opacity: .6;}
.btn-delete{
  font-size: 1.2rem;
  background: none;
  border: none;
}

.wrap_control{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #fafafa;
}

.wrap_control input[type='text']{
  padding-left: 10px;
  width: 240px;
  height: 30px; 
  border: 1px solid #ddd;
  border-radius: 5px;
}
.wrap_control  button,
.btn-modify{
  padding: 0 10px;
  height: 34px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  line-height: 34px;
  margin: 0 5px;
}